@import "../../../styles/variables.css";

.form-continer {
  /*
  border: 2px solid;
  border-width: medium;
  */
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 90vh;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: var(--mentorModalColor);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 400px;

  align-items: center;
}

.text-continer {
  display: flex;
  text-align: center;
}

.button-continer {
  display: flex;
  justify-content: center; /* Centers horizontally */
}
