/* General styling for both login and signup containers */
.auth-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 15px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  max-width: 400px;
  margin: 40px auto; 
  text-align: center; 
}

/* Heading styling */
.auth-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
}

/* Input fields styling */
.auth-container input {
  width: 100%;
  padding: 12px 16px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  background-color: #f8f8f8;
  outline: none;
  transition: border-color 0.3s ease;
}

/* Focus effect for inputs */
.auth-container input:focus {
  border-color: #ea4c89;
}

/* Radio button labels */
.auth-container label {
  margin-right: 15px;
  font-size: 16px;
  color: #666;
}

/* Signup button */
.auth-container button {
  width: 100%;
  padding: 12px;
  background-color: #ea4c89;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

/* Hover effect for buttons */
.auth-container button:hover {
  background-color: #d14076;
}

/* Links styling */
.auth-container a {
  color: #ea4c89;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.auth-container a:hover {
  color: #d14076;
}

/* Error message styling */
.auth-container p {
  color: #303030;
  font-size: 14px;
}

/* Styling for radio button container */
.radio-group {
  margin: 15px 0;
  accent-color: #ea4c89;
}

/* Additional form fields for mentors */
.mentor-fields input {
  margin-top: 8px;
}

/* Responsive Design */
@media (max-width: 600px) {
  .auth-container {
    width: 90%;
  }
}

/* Container for the tags and input */
.programming-languages-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

/* Styling for each language tag */
.language-tag {
  display: inline-flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 16px;
  padding: 15px 12px;
  height: 20px;
  margin: 2px;
  font-size: 12px;
  transition: background-color 0.3s ease;
}

/* Styling for the X button */
.language-tag button {
  padding: 0px;
  padding-top: 0px;
  margin: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  line-height: 1;
  vertical-align: middle;
  transition: color 0.3s ease, opacity 0.3s ease; 
}

/* Hover effect: change the opacity to 50% */
.language-tag button:hover {
  opacity: 0.5; 
  background-color: transparent; 
}
