/* Welcome page container */
.carousel-container {
  max-width: 100vw;
  margin-top: 20px; /* Space between header and carousel */
}

.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Full height of the viewport */
  /* background-color: #f5f5f5; */
  padding: 0 20px;
  text-align: center;
}

/* Header styling */
.welcome-header {
  margin: 0 auto;
}

/* Main title */
.welcome-title {
  font-size: 4rem;
  color: #333;
  margin-bottom: 20px;
  font-family: "Source Serif 4", Georgia, serif;
  font-weight: 400;
  letter-spacing: -0.5px;
}

/* Subtitle */
.welcome-subtitle {
  color: #666;
  margin-bottom: 40px;
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.upper-subtitle {
  display: inline-block;
  padding: 10px 12px;
  font-size: 0.8rem;
  background-color: #ffd8e4; /* Pink color like Dribbble */
  color: #0d0c22;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-family: monospace;
  /* font-weight: bold; */
  margin-top: 60px;
}

/* Get Started button */
.welcome-button {
  display: inline-block;
  padding: 10px 25px;
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  background-color: #ea4c89; /* Pink color like Dribbble */
  color: white;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.welcome-button:hover {
  background-color: #d93a78; /* Slightly darker on hover */
}
