/* src/components/PopUp/PopUp.css */
.popupContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  max-width: 500px;
  width: 100%;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  font-size: 16px;
  cursor: pointer;
  color: black;
}

.content {
  text-align: center;
}

.mentor-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.fullName {
  font-size: 24px;
  margin-bottom: 10px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.skill {
  background: #f1f1f1;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 5px;
}

.contact-links a {
  margin: 0 10px;
  font-size: 20px;
  color: #333;
  text-decoration: none;
}

.contact-links a:hover {
  color: #0073b1; /* LinkedIn color */
}
