@import "../../styles/variables.css";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: var(--mentorModalColor);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.close-button {
  color: black;
  position: absolute;
  top: 5px;
  right: 10px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.mentor-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.fullName {
  text-align: center;
}

.skills-container {
  display: flex;
  justify-content: center;
}

.skill {
  margin-right: 10px;
  margin-top: 0px;
}

.about {
  text-align: center;
  margin-top: 0px;
  font-size: medium;
}

.data-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  vertical-align: center;
}

.data-container p {
  box-shadow: 0 4px 8px rgb(136, 131, 131);
  padding: 10px;
  margin: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.icons-container {
  display: flex;
  justify-content: center;
}

.icons-container a {
  text-decoration: none;
  outline-color: transparent;

  border: none;
  background-color: var(--buttonColor);
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 20px;
}

.icons-container a:hover {
  background-color: var(--buttonHoverColor);
}
