@import "../../styles/variables.css";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--headerColor);
}

header img {
  height: 70px;
}

.home-ul {
  display: flex;
  margin-left: auto;
}
