.carousel-container {
  width: 100%; /* Adjust as needed */
  margin: 0 auto; /* Center the carousel */
  max-width: 100vw;
  margin-top: 60px; /* Space between header and carousel */
}

.carousel-item img {
  padding: 16px 20px;
  height: 340px; /* Make images responsive */
  border-radius: 10px; /* Optional: Add some styling */
}

/* Hide arrows (if needed) */
.slick-prev,
.slick-next {
  display: none !important; /* Force hide arrows */
}
