/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  width: 100%;
  /* background-color: (rgba(255, 228, 240, 0)); */
  background-color: #f8f7f4;
  position: fixed;
  /* Keep the navbar fixed at the top */
  top: 0;
  /* Ensure the navbar stays at the top */
  left: 0;
  z-index: 1000;
  /* Ensure the navbar stays above other elements */
}

/* Left section for the Home button */
.navbar-left {
  flex: 1;
  /* Ensures it takes up equal space on the left */
  text-align: left;
}

/* Center logo */
.navbar-logo {
  flex: 0;
  /* Prevents the logo section from growing */
  text-align: center;
  /* transition: background-color 0.3s ease;  */
  transition: fill 5s ease;
}

.navbar-logo:hover {
  filter: brightness(0) saturate(100%) invert(20%) sepia(100%) saturate(400%)
    hue-rotate(200deg);
  opacity: 80%;
}

.logo-image {
  height: 40px;
  cursor: pointer;
}

/* Right section: Search, Login, Sign Up */
.navbar-right {
  display: flex;
  align-items: center;
  flex: 1;
  /* Ensures it takes up equal space on the right */
  justify-content: flex-end;
  /* Right align the items */
}

/* Container for search bar and icon */
.navbar-search-container {
  position: relative;
  display: flex;
  align-items: center;
}

/* Style for the search input field */
.search-bar {
  padding: 7px 16px 8px 30px; /* Extra left padding to make room for the icon */
  margin-right: 20px;
  border: 1px solid #fff;
  border-radius: 20px;
  outline: none;
  transition: all 0.3s ease;
  background-color: #fff;
  width: 200px;
}

.search-icon {
  position: absolute;
  left: 10px;
  width: 15px;
  height: 15px;
  color: #aaa;
  pointer-events: none;
}

.search-bar:hover {
  border: 3px solid #fac7e2;
  background-color: #f8f8f8;
  width: 200px;
}

input.search-bar {
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

/* Focus effect for search input */
.search-bar:focus {
  border: 3px solid #feaad756;
  background-color: #ffffff;
}

.navbar-link {
  margin-right: 20px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #0d0c22;
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  transition: color 200ms ease;
}

.navbar-link:hover {
  opacity: 50%;
}

.navbar-button {
  padding: 8px 16px;
  background-color: #ea4c89;
  font-size: 13px;
  color: white;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  /* Smooth transition for background change */
}

.navbar-button:hover {
  background-color: #d93c7a;
  /* Change background on hover */
}
