:root {
  /* --headerColor: #fabebd; */
  --headerColor: #bcbbf2;
  --bodyColor: #fabebd4d;
  --titleColor: #333;
  --paragraphColor: #555;
  --buttonColor: #fabebd;
  --buttonTextColor: white;
  --buttonHoverColor: #fabebd4d;
  --mentorModalColor: #ebe1e1;
  
  --GumColor: #ea88b9;
  --myPurple: #CCA1C9;
  --shadowColor: #fabebd;
  --myDarkBlue: #0B1957;
  --myCutePink: #FA9EBC;
  --myWhite: #F8F3EA;
  --myLightBlue: #bcbbf2;
  --myOrange: #e4aaa2;



}
